.pagination {
  margin: 10px auto;
}

.page-link {
  color: #000;
}
.width{
  min-width: 100px;
}
nav.responsivePg ul {
  flex-wrap: wrap;
}

.paginationItem {
  margin-bottom: 10px;
}

.page-item .page-link {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.page-item:first-child .page-link {
  margin-right: 0;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.page-item:last-child .page-link {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
// .page-item:last-child .page-link {
//     border-top-right-radius: 0 !important;
//     border-bottom-right-radius: 0 !important;
// }
