.panel {
  border: 1px solid #bbb8b8;
  overflow: auto;

  .panelHeader {
    border-bottom: 1px solid #bbb8b8;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    overflow: auto;
    line-height: 3;

    .headerTitle {
      float: right;
      font-size: 15px;
      font-weight: bold;
    }

    .headerList {
      float: left;

      a {
        color: #a2a2a2;
        font-size: 13px;
      }
    }
  }

  .panelBody {
    padding: 10px;
  }
}

.cardEdit {
  border: 0;

  .cardHeder {
    border-bottom: 2px solid #e7878b;
  }
}
