.btnOrange{
  background-color: #F27405;
  border-color: #F27405;
  &:hover{
    background-color: #F25C05;
  }
}
.btnPurple{
  background-color: #4726bf;
  border-color: #4726bf;
  &:hover{
    background-color: #2a2aa9;
  }
}
.display{
  display: block;
}
.rowColor{
  background-color: #f28705 !important;
}

@media(max-width: 720px){
  .btnOrange{
    font-size: 13px;
  }
  .btnPurple{
    font-size: 13px;
  }
}