.modalBg {
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  // opacity: 0.8;
  .signupModal {
    text-align: center;

    .formPlace {
      width: 80%;
      display: block;
      margin: auto;
      padding: 15px;
      background-color: azure;

      .modalHeader {
        height: 60px;
        margin: -15px -15px 0 -15px;
        background-color: beige;
        border-bottom: 1px solid #ccccb0;

        .imageDesign {
          direction: rtl !important;
        }
      }

      .padding {
        padding-left: 10px;
      }
    }
  }
}
.forgotPassword{
  margin-top: 10px;
}
@media (max-width: 480px) {
  .modalBg {
    .signupModal {
      .formPlace {
        width: 100%;
      }
    }
  }
}

@media (min-width: 768px) {
  .modalBg {
    .signupModal {
      .formPlace {
        width: 50%;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .modalBg {
    .signupModal {
      .formPlace {
        width: 40%;
      }
    }
  }
}
