.background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  overflow: auto;
}

.modalBgColor {
  background-color: rgba(0, 0, 0, 1);
}

.modalBox {
  // background-color: #fff;
  // width: 260px;
  height: 100%;
  padding: 50px 20px 20px 20px;
  z-index: 99;
}

.displayNone {
  display: none;
}

.display {
  position: relative;
}

.place {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 40px;
  cursor: pointer;
  color: #fff;
  z-index: 99;
}
