.App {
  display: flex;
  width: 100%;
  align-items: stretch;
}

// @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

// body {
//   font-family: "Poppins", sans-serif;
//   background: #fafafa;
// }

// a,
// a:hover,
// a:focus {
//   color: inherit;
//   text-decoration: none;
//   transition: all 0.3s;
// }

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar {
  min-width: 250px;
  max-width: 250px;
  // width: 20%;
  // background: #2f353a;
  color: #fff;
  margin-right: -250px;
  transition: all 0.5s;
}

.sidebar.isOpen {
  margin-right: 0;
  // transition: 0.5s;
  // width: 260px;
  transition:0.5s;
  // width: 20%;
}

.sidebarHeader {
  // background: #6d7fcc;
  background: #3a4248;
  padding: 10px 5px;
}

.sidebarHeader h3 {
  color: #fff;
  padding: 1em;
}

.sidebar ul p {
  color: #fff;
  padding: 10px;
}
.listUnstyled{
  padding-right: 0 !important;
}
// .menuOpen {
//   // background: #6d7fcc;
// }
// .nav-item:hover {
//   color: #7386d5;
//   background: #fff;
// }

.itemsMenu {
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
}

.dropdownToggle::after {
  display: inline-flex;
  position: relative;
  left: 60%;
  top: 10%;
}

.sidebarHeader > span {
  position: relative;
  float: left;
  margin: 0.5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.sideMenu {
  height: calc(100vh - 130px);
  overflow-y: scroll;
}

.sideMenu::-webkit-scrollbar {
  width: 10px;
}

.sideMenu::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 3px;
}

.sideMenu::-webkit-scrollbar-thumb:hover {
  background: #eee;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.content {
  padding: 20px;
  margin-left: 0;
  height: 100vh;
}
.alignNav{
  padding: 12px 20px;
}
.userInfo{
  display: flex;
    flex-direction: row;
  .flexItem{
    flex: 1;
    text-align: left;
    align-self: center;
  }
  // .userInfoItem{
  //   flex-direction: row;
  // }
}
.btnStl{
  color: #fff;
  &:hover{
    color:#fff;
  }
  a{
    text-decoration: none !important;
  }
}

@media only screen and (max-width: 500px) {
  // body {
  //   overflow: hidden;
  // }

  .content.isOpen {
    margin-left: 100%;
  }

  .sidebar.isOpen {
    min-width: 100%;
    max-width: 100%;
    margin-right: 0;
    transition: all 0.5s, height 0s;
  }

  .sidebar.isOpen > .sidebar-header span {
    display: unset;
  }

  .dropdownToggle::after {
    display: inline-block;
    position: relative;
    left: 68%;
  }
}

@media only screen and (min-width: 769px) {
  // .sidebar{
  //   width: 260px;
  // }
}
// .App {
//   display: flex;
//   width: 100%;
//   align-items: stretch;
// }

// // @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

// body {
//   font-family: "Poppins", sans-serif;
//   background: #fafafa;
// }

// a,
// a:hover,
// a:focus {
//   color: inherit;
//   text-decoration: none;
//   transition: all 0.3s;
// }

// /* ---------------------------------------------------
//     SIDEBAR STYLE
// ----------------------------------------------------- */
// .sidebar {
//   min-width: 250px;
//   max-width: 250px;
//   background: #7386d5;
//   color: #fff;
//   margin-left: -250px;
//   transition: all 0.5s;
// }

// .sidebar.isOpen {
//   margin-left: 0;
//   transition: 0.5s;
// }

// .sidebarHeader {
//   background: #6d7fcc;
// }

// .sidebarHeader h3 {
//   color: #fff;
//   padding: 1em;
// }

// .sidebar ul p {
//   color: #fff;
//   padding: 10px;
// }

// .menuOpen {
//   background: #6d7fcc;
// }

// .nav-item:hover {
//   color: #7386d5;
//   background: #fff;
// }

// .itemsMenu {
//   color: #fff;
//   background: #6d7fcc;
// }

// li a.dropdown-toggle::after {
//   display: inline-flex;
//   position: relative;
//   left: 60%;
//   top: 10%;
// }

// .sidebarHeader > span {
//   position: relative;
//   float: right;
//   margin: 0.5em;
//   font-size: 2rem;
//   cursor: pointer;
//   display: none;
// }
// .sideMenu {
//   height: calc(100vh - 130px);
//   overflow-y: scroll;
// }

// .sideMenu::-webkit-scrollbar {
//   width: 10px;
// }

// .sideMenu::-webkit-scrollbar-thumb {
//   background: #5466b3;
//   border-radius: 3px;
// }

// .sideMenu::-webkit-scrollbar-thumb:hover {
//   background: #3a4c99;
// }

// /* ---------------------------------------------------
//     CONTENT STYLE
// ----------------------------------------------------- */
// .content {
//   padding: 20px;
//   margin-left: 0;
//   height: 100vh;
// }

// @media only screen and (max-width: 500px) {
//   body {
//     overflow: hidden;
//   }

//   .content.isOpen {
//     margin-left: 100%;
//   }

//   .sidebar.isOpen {
//     min-width: 100%;
//     max-width: 100%;
//     margin-left: 0;
//     transition: all 0.5s, height 0s;
//   }

//   .sidebar.isOpen > .sidebarheader span {
//     display: unset;
//   }

//   li a.dropdown-toggle::after {
//     display: inline-block;
//     position: relative;
//     left: 68%;
//   }
// }
