.App {
  display: flex;
  width: 100%;
  align-items: stretch;
}


  /* a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
} */

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #7386d5;
  color: #fff;
  margin-left: -250px;
  transition: all 0.5s;
}

.sidebar.isOpen {
  margin-left: 0;
  transition: 0.5s;
}

.sidebarHeader {
  background: #6d7fcc;
}

.sidebarHeader h3 {
  color: #fff;
  padding: 1em;
}

.sidebar ul p {
  color: #fff;
  padding: 10px;
}

.menuOpen {
  background: #6d7fcc;
}

.nav-item:hover {
  /* color: #7386d5; */
  background: #20a8d8;
  color: #ffff;
}
.nav-item .nav-link:hover{
  cursor: pointer;
}
.itemsMenu {
  color: #fff;
  background: #6d7fcc;
}

.dropdownToggle::after {
  display: inline-flex;
  content: "";
  position: relative;
  left: 60%;
  top: 10%;
}

.sidebar-header > span {
  position: relative;
  float: right;
  margin: 0.5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.side-menu {
  height: calc(100vh - 130px);
  overflow-y: scroll;
}

.side-menu::-webkit-scrollbar {
  width: 10px;
}

.side-menu::-webkit-scrollbar-thumb {
  background: #5466b3;
  border-radius: 3px;
}

.side-menu::-webkit-scrollbar-thumb:hover {
  background: #3a4c99;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.content {
  padding: 20px;
  margin-left: 0;
  height: 100vh;
}

@media only screen and (max-width: 500px) {
  /* body {
    overflow: hidden;
  } */

  .content.is-open {
    margin-left: 100%;
  }

  .sidebar.is-open {
    min-width: 100%;
    max-width: 100%;
    margin-left: 0;
    transition: all 0.5s, height 0s;
  }

  .sidebar.is-open > .sidebar-header span {
    display: unset;
  }

 .dropdownToggle::after {
    display: inline-block;
    position: relative;
    left: 68%;
  }
}
