.dropdownToggle::after {
  // background-image: url("../../public/icons/icons8-expand-arrow-50.png");
  content: ">";
  display: inline-flex;
  // display: block;
  background-position: center;
  background-repeat: no-repeat;
  // background-size: cover;
  position: absolute;
  width:20px;
  // height:30px;
  left: 0;
  top: 25%;
  transition: transform .3s;
}
.dropdownToggle{
  position: relative;
}
.itemsMenu {
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
}