.rowEdit{
  margin-bottom: 20px;
  .colEdit{
    margin-bottom: 5px;
  }
  .boxDesignStyle{
    padding: 15px;
    color: #364952;
    background-color: #f28705;
    border-radius: 5px;
    width: 33.33%;
    height: 114px;
    margin-bottom: 10px;
    div.text{
      font-size: 20px;
    }
    div.price{
      color: #fff;
      font-size: 18px;
      // float: left;
      padding-top: 10px;
    }
    div.priceInfo{
      border-bottom: 1px solid rgb(158, 193, 224);
      padding-bottom: 5px;
    }
    div.saleCount{
      padding-top: 5px;
      color: #e6eaec;
      color: #fff;
      font-size: 15px;
      
    }
  }
}

.boxDesignStyle{
  padding: 15px;
  color: #364952;
  background-color: #f28705;
  border-radius: 5px;
  // width: 33.33%;
  margin-bottom: 10px;

  // height: 114px;
  div.text{
    font-size: 19px;
  }
  div.tableFontStl{
    font-size: 16px;
  }
  div.price{
    color: rgb(75,75,75);
    font-size: 18px;
    // float: left;
    padding-top: 10px;
  }
  div.remaining{
    float: right;
    color: #fff;
    font-size: 18px;
    padding-top: 10px;
  }
  .rank{
    color: #fff;
    font-weight: bold;
  }
  div.remainingInfo{
    padding-bottom: 5px;
    font-size: 16px;
    
  }
  span.remainingText{
    color: #e5e5e5;
    padding-left: 7px;
  }
  div.priceInfo{
    border-bottom: 1px solid rgb(158, 193, 224);
    padding-bottom: 5px;
  }
  div.saleCount{
    padding-top: 5px;
    color: #e6eaec;
    color: #fff;
    font-size: 15px;
    
  }
}