@import "../../public/styles/variables";
.app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
// .app,
// app-dashboard,
// app-root {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
// }

.appHeader {
  flex: 0 0 $navbar-height;
}

.appFooter {
  flex: 0 0 $footer-height;
}

.app-body {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow-x: hidden;
}
.flexRow{
  flex-direction: row !important;
}
.alignItemsCenter{
  align-items: center;
}
.cardBgColor{
  background: $bg-primary;
}
