.contentWrrap {
  direction: rtl;

  .signupText {
    margin: 35px 0;
  }

  .forgotPassword {
    margin-top: 10px;
  }

  .signupBtn {
    margin-top: 30px;

    .signupButtonEdit {
      div span {
        color: #fff;
        font-size: 14px;
      }
    }
  }
}
