.btnPlace{
  margin: 10px auto;
}
div.posterWrapper{
  border: 0px solid gray;
  transition: border .2s ease-in-out;
  text-align: center;
  padding: 10px 3px !important;
  &:hover{
    border: 1px solid #bd2130;
  }
}
.header {
  margin-bottom: 35px;
  .title {
    // flex: 5;
    font-size: 15px;;
    margin-bottom: 20px;
    border-bottom: 1px solid #bd2130;
    padding: 10px 10px 5px 10px;
    // font-weight: bold;
  }
}
.button {
  text-align: center;
  padding: 1px 18px;
  cursor: pointer;
  margin: 0 1px;
  border: none;
  z-index: 9;

  svg {
    color: #f2f2f2;
    font-size: 22px;
  }
}