.container {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  color: #333;
  background: transparent;

  .textColor {
    color: #23527c;
    padding-right: 10px;
  }
}

.sliderBasic {
  border: 1px solid #e3e3e3;
  margin-bottom: 20px;

  &:hover div.nextButtonCustomized {
    display: inline-block;
  }

  &:hover div.prevButtonCustomized {
    display: inline-block;
  }
}

.nextButtonCustomized {
  left: 0 !important;
  display: none;
}

.prevButtonCustomized {
  right: 0 !important;
  display: none;
}

.customizedSwiperPagination {
  bottom: -8px !important;
}

.carousel .slide img {
  width: 32%;
}
