// @import "~slick-carousel/slick/slick.css";
// @import "~slick-carousel/slick/slick-theme.css";
.sectionLayoutSliderWrapper {
  // margin-top: 30px;
  // margin-bottom: 120px;

  .header {
    display: flex;
    margin-bottom: 20px;

    .title {
      flex: 5;
      font-size: 19px;;
      // font-weight: bold;
    }

    .buttonsContainer {
      flex: 2;
      justify-content: flex-start;
      border-bottom: 1px solid rgba(202, 32, 38, .4);
      white-space: nowrap;

      .button {
        text-align: center;
        padding: 1px 18px;
        cursor: pointer;
        margin: 0 1px;
        border: none;

        svg {
          color: #f2f2f2;
          font-size: 22px;
        }
      }

      .prevButton {
        background-image: linear-gradient(to right, #ca2026, #ff7171
        );
      }

      .nextButton {
        background-image: linear-gradient(to left, #ca2026, #ff7171
        );
      }
    }
  }

  .sliderContainer {
    position: relative;
    // margin: auto;
    // width: 90%;
  }
}
