.textFieldStyle{
  display: block !important;
  width: 100% !important;
  height: 50px;
  margin-bottom: 10px;
  padding-right: 10px;
  div{
    font-size: 16px !important;
  }
}

// ::placeholder {
//   padding-right:10px;
// }
.settlementButton{
  width: 100% !important;
  height: 50px !important;
  // background-color:#00a480 !important; 
  background-color: #17ad49 !important; 
  span{
    color: #fff !important;
  } 
  div span{
    color: #fff;
    font-size: 18px !important;
  }
}
.accountNumberButton{
  width: 100% !important;
  height: 50px !important;
  background-color: #3097D1 !important;
    span{
    color: #fff !important;
  } 
  div span{
    color: #fff;
    font-size: 18px !important;
  }
}
.balance{
  margin: 20px 0;
  .account{
    color: #00959f;
    font-size: 25px;
  }
  .accountMony{
    font-size: 25px;
    padding-right: 20px;
  }
}
.buttonPosition{
  margin: 20px 0 10px 0;
}
@media(max-width:480px){
  .account{
    color: #00959f;
    font-size: 16px !important;
  }
  .accountMony{
    font-size: 18px !important;
    padding-right: 20px;
  }
}