.tableDir{
  direction: rtl;
}
.headerStyle{
  text-align: center;
}
.IconStyle{
  color: #9db7c4;
}
.salamcinemaTitle{
  color: #ca2026;
}
.companyTitle{
  color: green;
}
.colleagueTitle{
  color: darkmagenta;
}
table.tableDir > tbody > tr:nth-of-type(even) {
  // background-color: #90cef1 !important;
  // background-color: #87b2d8 !important;
  background-color: #f1f1f1 !important;
}
table.tableDir > tbody > tr:nth-of-type(odd) {
  background-color: #9db7c4 !important;
  background-color: #dfe7ea !important;
  background-color: #c8d7de !important;
}
table.tableDir > thead > tr {
  background-color: #7c81b8 !important;
  background-color: #9db7c4 !important;
}
table.tableDir > tbody > tr > td:nth-of-type(13) {
  border-left: 1px solid black !important;
}
table.tableDir > tbody > tr > td:nth-of-type(15) {
  border-left: 1px solid #ca2026 !important;
}
table.tableDir > tbody > tr > td:nth-of-type(17) {
  border-left: 1px solid darkmagenta !important;
}
table.tableDir > tbody > tr > td:nth-of-type(19) {
  border-left: 1px solid green !important;
}