.breadItem {
  padding-left: 0 !important;

  &::before {
    // content: "/"
    padding-left: 0.5rem;
  }
}

.breadcrumbBox {
  margin: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
}
