.backgrounDesign{
  // background: radial-gradient(circle at 48% 33%, #5dffff, #0d52a0 62%, #12263d);
  // background: url('./background-filmparty-foreign.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 300px 100px;
  background-size: auto;
  position: relative;
  background-position: -500px -100px;
  // height: 600px;
  color: #fff;
  .secondBackground{
    // background: radial-gradient(circle at 51% 15%, #5dffff, #0d52a0 32%, #12263d);
    background: radial-gradient(circle at 50% 6%, #5dffff, #0d52a0 26%, #12263d);
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
  }
}