.mainStyle {
  background-color: #202121;
}

.copyRight {
  color: #7f7f7f;
}

.permision {
  color: #fff;
  text-align: right;
  // margin: 1em;
  padding: 3%;

  &:hover {
    color: #da0000;
  }
}

.telpermision {
  // display: inline;
  color: #fff;
  text-align: right;
  margin: 0;
}
.phoneStyle{
  padding-right: 5px;
  color: #fff;
}

.tel {
  padding: 3%;
  color: #fff;
  // font-weight: bold;
  text-align: right;
  display: inline;
  &:hover {
    color: #da0000;
  }
}

.connection {
  color: #fff;
  text-align: center;
}

.icons {
  float: none;
  align-content: center;
  margin-top: 0.5em;
  left: 50%;
}

.ways {
  text-align: center;
}

.iconMargin {
  margin: 0.5em;
}

.insta:hover {
  background: url('../../public/icons/instagramHover.svg');
}

.linkedin:hover {
  background: url('../../public/icons/linkedinHover.svg');
}

.help:hover {
  background: url('../../public/icons/qHover.svg');
}

.facebookIcon:hover {
  background: url('../../public/icons/facebookHover.svg');
}

.twiterIcon:hover {
  background: url('../../public/icons/twitterHover.svg');
}

.whatssapp:hover {
  background: url('../../public/icons/whatsappHover.svg');
}

.telegram:hover {
  background: url('../../public/icons/telegramHover.svg');
}

.namadEDiv {
  text-align: left;
}

.namadE {
  text-align: center;
}

.menuItem {
  a {
    color: #fff !important;
  }
}
