.mainBoxStyle {
  padding: 0 4%;
}

.hrStyle {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cacaca;
  margin: 0.5em 2em;
  padding: 0;
}

.rightTextStyle {
  // float:right;
}

.leftTextStyle {
  float: left;
}

.mainTextStyle {
  text-align: center;
  // display: inline-block;
}
