/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.content {
  // padding: 20px;
  // margin-left: -100%;
  // height: 100vh;
  height: auto;
}
.content.isOpen {
  // width: 80%;
  transition: all 0.5s, height 0s;
}
@media only screen and (max-width: 500px) {
  // body {
  //   overflow: hidden;
  // }

  .content.isOpen {
    // margin-left: 100%;
  }

  .sidebar.isOpen {
    min-width: 100%;
    max-width: 100%;
    margin-left: 0;
    transition: all 0.5s, height 0s;
  }

  .sidebar.isOpen > .sidebarHeader span {
    display: unset;
  }

  .dropdownToggle::after {
    display: inline-block;
    position: relative;
    left: 68%;
  }
}
