.changeFlex{
  flex-direction: row;
}
.sidebar {
  min-width: 250px;
  max-width: 250px;
  // width: 20%;
  background: #2f353a;
  color: #fff;
  margin-right: -250px;
  transition: all 0.5s;
}

.sidebar.isOpen {
  margin-right: 0;
  // transition: 0.5s;
  // width: 260px;
  transition:0.5s;
  // width: 20%;
}
.sidebar.isOpen > .dropdownToggle::after{
  transform: rotate(-90deg);
}
.changeEffect{
  &:hover{
    background: #fff !important;
    a{
      color: #17a2b8 !important;
    }
  }
}