/* @import '~bootstrap/dist/css/bootstrap.min.css'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IranSans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
  url("/Fonts/IRANSansWeb.eot");
  src:
    url("/Fonts/IRANSansWeb.eot?#iefix") format('embedded-opentype'),
      url("/Fonts/IRANSansWeb.woff2") format('woff2'),
      url("/Fonts/IRANSansWeb.woff") format('woff'),
      url("/Fonts/IRANSansWeb.ttf") format('truetype');
}

body{
  font-family: 'IranSans', tahoma !important;
  direction: rtl !important;
  text-align: justify !important;
  font-size: 13px;
  overflow-x: hidden;
}
p{
  line-height: 2em;
}
a{
  color: inherit;
}
a:hover{
  color: inherit;
}
button{
  cursor:pointer;
}
button:focus{
  outline: none;
}
h1{
  font-size: 22px;
  line-height: 1.7;
}
h2{
  font-size: 20px;
  line-height: 1.7;
}
h4{
  font-size: 16px;
  line-height: 1.7;
}
body{
  font-size: 13px;
}
.midTPadding{
  padding-top: 15px;
}
.midRPadding{
  padding-right: 15px;
}
.midBPadding{
  padding-bottom: 15px;
}
.midLPadding{
  padding-left: 15px;
}
.midTMargin{
  margin-top: 15px;
}
.midRMargin{
  margin-right: 15px;
}
.midLMargin{
  margin-left: 15px;
}
.midBMargin{
  margin-bottom: 15px;
}
.lrgTMargin{
  margin-top: 25px;
}
.lrgRMargin{
  margin-right: 25px;
}
.lrgLMargin{
  margin-left: 25px;
}
.lrgBMargin{
  margin-bottom: 25px;
}
.mainTitle{
  font-size: 17px;
}
.no-margin{
  margin: 0;
}
.no-padding{
  padding: 0;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.fontDesign{
  font-size: 16px;
  color: #337ab7;
  float: left;
  padding-bottom: 10px;
}

/* Slider */
/* ul li.slide{
    margin-left: 5px !important;
}
 
.carousel .slide{
  background: transparent !important;
  line-height: 2.2em;
}

.carousel .control-dots .dot {
  box-shadow: 1px 1px 2px rgba(0,0,0,.9);
  background: #bbb8b8;
  width: 10px;
  height: 10px;
  opacity: .6;
 
}
.carousel .carousel-status{
  display: none;
}

.carousel.carousel-slider .control-arrow{
  display: none;
} */
.slick-list, .slick-slider, .slick-track {
  position: relative;
  display: block;
}

.slick-loading .slick-slide, .slick-loading .slick-track {
  visibility: hidden;
}

.slick-slider {
  /* direction: rtl; */
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: 0;
}

.slick-list.dragging {
  cursor: hand;
}

.slick-slider .slick-list, .slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  top: 0;
  left: 0;
}

.slick-track:after, .slick-track:before {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Custome Css Slider for RTL */
.slick-slide div div{
  margin: 0 0.5rem;
  padding: 10px;
}
.slick-slide div div:last-child{
  margin: 0;
}
.slick-slide div div:first-child{
  margin: 0;
}

.slick-slide div div .title{
 background: rgba(154, 154, 154, 0.5607843137254902);
 color: #fff;
 margin: 0;

}
.slick-dots{
  /* direction: rtl !important; */
}
.slick-arrow .slick-prev, .slick-arrow .slick-next {
  display: none !important;
}


.breadcrumb {
  padding: 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: transparent;
  border-radius: 4px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #888;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #888;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #888;
}

a,
a:hover,
a:focus {
  /* color: inherit; */
  text-decoration: none;
  transition: all 0.3s;
}
.nav-link{
  padding: 12px 20px;
}
.nav-item .nav-link:hover{
  cursor: pointer;
}
.nav-item:hover {
  color: #fff;
  background: #20a8d8;
}
